0-main.c
0-strcat
1-main.c
1-strncat
2-strncpy
2-main.c
3-strcmp
3-main.c
4-main.c
4-rev_array
5-main.c
5-string_toupper
6-main.c
6-cap_string
7-leet
7-main.c
100-main.c
100-rot13
101-main.c
101-print_number
103-main.c
103-infinite_add
104-main.c
104-print_buffer
